<h2>球団編集</h2>
<%= form_with model: @team, url: admin_team_path, method: :patch do |f| %>
<table>
    <tbody>
      <tr>
       <td>
        <label for="inputName">球団名</label>
  　　　　<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"球団名"%>
       </td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "変更を保存",class:"btn btn-success" %>
<% end %>