<table>
  <h2>マイページ <%= link_to "編集", edit_user_path, class:"btn btn-success" %></h2>
  <thead>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
  </thead>
  <tbody>
  　<tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>

<br />
<br />

<table>
  <h2>レビュー一覧</h2>
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  　<tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>